<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Hosts</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Approved</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let host of hosts" >
                            <tr class="align-middle">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{host?.username}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{host?.firstName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{host?.lastName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center" *ngIf="host?.approved === false">
                                        <div>
                                            <div class="h6 mb-0 lh-1 text-danger">{{host?.approved}}</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="host?.approved">
                                        <div>
                                            <div class="h6 mb-0 lh-1 text-success">{{host?.approved}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Renters</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let renter of renters" >
                            <tr class="align-middle">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{renter?.username}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{renter?.firstName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{renter?.lastName}}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>