<div class="container" *ngIf="!unauthorized">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Hosts</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Approved</th>
                                <th>Profile</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let host of hosts">
                            <tr class="align-middle" id="main">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{host?.username}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{host?.firstName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{host?.lastName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center" *ngIf="host?.approved === false">
                                        <div>
                                            <div class="h6 mb-0 lh-1 text-danger">{{host?.approved}}</div>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center" *ngIf="host?.approved">
                                        <div>
                                            <div class="h6 mb-0 lh-1 text-success">{{host?.approved}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="profile/?id={{host?.id}}&host=true&renter=false&isForAdmin=true&admin=false">View Profile</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card_bottom">
                    <div class="datatable-info">Showing {{hostFromRecord}} to {{hostToRecord}} of {{hostRecordsNumber}} entries</div>
                    <nav class="datatable-pagination position-absolute bottom-0 end-0">
                        <ul class="datatable-pagination-list">
                            <li class="datatable-pagination-list-item datatable-hidden" *ngIf="hostPreviousPage !== -1">
                                <a  class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForHost(hostPreviousPage)">‹</a>
                            </li>
                            <li class="datatable-pagination-list-item datatable-hidden datatable-disabled" *ngIf="hostPreviousPage === -1">
                                <a  class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForHost(hostPreviousPage)">‹</a>
                            </li>
                            <div *ngFor="let item of createRange(hostPages); let i=index">
                                <li class="datatable-pagination-list-item datatable-hidden" *ngIf="hostCurrentPage !== i">
                                    <a class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForHost(i)">{{i + 1}}</a>
                                </li>
                                <li class="datatable-pagination-list-item datatable-hidden datatable-active" *ngIf="hostCurrentPage === i">
                                    <a class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForHost(i)">{{i + 1}}</a>
                                </li>
                            </div>
                            <li class="datatable-pagination-list-item datatable-hidden" *ngIf="hostNextPage !== -1">
                                <a  class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForHost(hostNextPage)">›</a>
                            </li>
                            <li class="datatable-pagination-list-item datatable-hidden datatable-disabled" *ngIf="hostNextPage === -1">
                                <a  class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForHost(hostNextPage)">›</a>
                            </li>
                        </ul>
                    </nav>        
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="!unauthorized">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Renters</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Profile</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let renter of renters" >
                            <tr class="align-middle">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{renter?.username}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{renter?.firstName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{renter?.lastName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="profile/?id={{renter?.id}}&host=false&renter=true&isForAdmin=true&admin=false">View Profile</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card_bottom">
                    <div class="datatable-info">Showing {{renterFromRecord}} to {{renterToRecord}} of {{renterRecordsNumber}} entries</div>
                    <nav class="datatable-pagination position-absolute bottom-0 end-0">
                        <ul class="datatable-pagination-list">
                            <li class="datatable-pagination-list-item datatable-hidden" *ngIf="renterPreviousPage !== -1">
                                <a  class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForRenter(renterPreviousPage)">‹</a>
                            </li>
                            <li class="datatable-pagination-list-item datatable-hidden datatable-disabled" *ngIf="renterPreviousPage === -1">
                                <a  class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForRenter(renterPreviousPage)">‹</a>
                            </li>
                            <div *ngFor="let item of createRange(renterPages); let i=index">
                                <li class="datatable-pagination-list-item datatable-hidden" *ngIf="renterCurrentPage !== i">
                                    <a class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForRenter(i)">{{i + 1}}</a>
                                </li>
                                <li class="datatable-pagination-list-item datatable-hidden datatable-active" *ngIf="renterCurrentPage === i">
                                    <a class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForRenter(i)">{{i + 1}}</a>
                                </li>
                            </div>
                            <li class="datatable-pagination-list-item datatable-hidden" *ngIf="renterNextPage !== -1">
                                <a  class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForRenter(renterNextPage)">›</a>
                            </li>
                            <li class="datatable-pagination-list-item datatable-hidden datatable-disabled" *ngIf="renterNextPage === -1">
                                <a  class="datatable-pagination-list-item-link" role="button" (click)="onChangePageForRenter(renterNextPage)">›</a>
                            </li>
                        </ul>
                    </nav>        
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="unauthorized">
    <h1>Error Unauthorized</h1>
</div>