@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

body {
  background: #f5f5f5;
  display: inline-block;
}

a {
  cursor: pointer;
}
.card {
  border:#000000;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
  margin-bottom: 30px;
  align-self: center;
}

.w-60 {
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background-color: rgba(89, 206, 181, .85);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
  font-size: 12px;
}

a {
  color: #707070;
}
i {
color: white;
}

a {
color: white;
}
.green {
  color: green;
}
.red {
  color: red;
}

.star {
    color: #ffa500;
    font-size: .8rem
}
.orange{
    color: #f3a91f;
}
.rating-css{
  color: #ffe400;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 800;
}
.rating-css input{
  display: none;
}
.rating-css input + label{
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}
.rating-css input:checked + label ~ label{
  color: #838383;
}
.rating-css label:active{
  transform: scale(0.8);
  transition: 0.3s ease;
}

.unauthorized {
  padding-bottom: 37%;
}

.marginPending{
  margin-bottom: 38%;
}

.marginWithoutReview{
  margin-bottom: 14%;
}

.marginWithReview{
  margin-bottom: 4%;
}