<div class="container" id="main-container">
    <div class="card  align-self-center">
        <div class="card-body row">
           <div class="col-6">
              <a href=""><img src="" alt="" class="img-fluid rounded-circle w-60"></a>
            </div>
           <div class="col-6 card-title align-self-center mb-0">
              <h5>Username</h5>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">First Name</li>
            <li class="list-group-item">Last Name</li>
            <li class="list-group-item">Password</li>
           <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email</li>
            <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone :</li>
            <li class="list-group-item">Approved</li>
        </ul>
        <div class="card-body">
           <div class="float-right btn-group btn-group-sm">
              <a (click)="onOpenModal()"  class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
              <a  class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateUserModalLabel">Edit Employee </h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                    <label for="name">Username</label>
                    <input type="text"  name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Name">
                 </div>
                <div class="form-group">
                    <label for="phone">First Name</label>
                    <input type="text"  name="firstName" class="form-control" id="firstName" placeholder="First Name">
                 </div>
                 <div class="form-group">
                    <label for="phone">Last Name</label>
                    <input type="text"  name="lastName" class="form-control" id="lastName" placeholder="Last Name">
                 </div>
                <input type="hidden"  name="id" class="form-control" id="id" placeholder="Email">
                <input type="hidden"  name="password" class="form-control" id="password" placeholder="Email">
                <div class="form-group">
                   <label for="email">Email Address</label>
                   <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                   <label for="phone">Phone</label>
                   <input type="text"  name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button  data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>