.search-sec-has-bg-img{
    background-image: url('../../assets/images/maldives-resort-aerial-view-island-sea.jpg');
    background-position: center;
    background-size: cover;
    padding: 25rem;
    height: 86%;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
input[type="date"]::before { 
    content: attr(data-placeholder);
    width: 100%;
}

select::before {
    content: attr(data-placeholder);
    width: 100%;
}


/* hide our custom/fake placeholder text when in focus to show the default
 * 'mm/dd/yyyy' value and when valid to show the users' date of birth value.
 */
input[type="date"]:focus::before,
input[type="date"]:valid::before,
select:valid::before { display: none }
