<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<section class="search-sec-has-bg-img">
        <div class="container">
            <form #searchForm="ngForm" (ngSubmit)="onSearch(searchForm)">
                <div class="row">
                    <div class="col-lg-30">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-30 p-0">
                                <input type="text" ngModel name="location" class="form-control search-slt" placeholder="Enter Location" required>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-30 p-0">
                                <input class="form-control search-slt" type="date" ngModel name="check_in" data-placeholder="Check In" required aria-required="true">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-30 p-0">
                                <input class="form-control search-slt" type="date" ngModel name="check_out" data-placeholder="Check Out" required aria-required="true">
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-30 p-0">
                                <select [ngModel]="people" name="people" class="form-control search-slt"  id="exampleFormControlSelect1"  required>
                                    <option>Select number of persons</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                            </div>
                            <div class="col-lg-2.5 col-md-2.5 col-sm-30 p-0">
                                <button [disabled]="searchForm.invalid || NoneSelected(searchForm)" type="submit" class="btn btn-danger wrn-btn">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</section>